*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courgette', cursive;
	text-shadow: 5px 5px 10px black;
	scroll-behavior: smooth
}
body{
	margin: 0 auto;
}
.container-fluid{
	background:no-repeat;
	background-position: center;
	background-size: cover;
}
/*HEADER*/
.name{
	font-size: 50px;
	color: white;
	font-weight: bolder;
	text-shadow: 15px 15px 10px black;

}
.name:hover{
	color: maroon;
}
.head{
	background-color: #55251D;
	margin-bottom: 5px;
	box-shadow: 5px 5px 10px black;
}
/*NAV*/
.navbar{
	opacity: 0.9;
	margin-bottom: 5px;
	box-shadow: 5px 5px 10px black;
}

/*CONTACT ME and ABOUT*/
.row{
	color: white;
	animation-duration: 10s;
}
#contact-us{
	background-image: url(../images/bg1.jpg);
	padding: 2rem;
	margin-bottom: 20px;
	box-shadow: 5px 5px 10px black;

}
.btn{background-color: maroon;
		border-color: white;
		color: white;
}
.read{
	height: auto;
	padding: 1rem;
	background-image: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	box-shadow: 5px 5px 10px black;
}
.read ul{
	list-style: none;
	margin-left: 20px;
}
.read a{
	text-decoration: none;
	color: white;
}
.read a:hover{
	color: maroon;
}
.about h2{
	margin-left: 10px;
}
.about h4{
	margin-left: 10px;
}
.about p{
	margin-left: 30px;
}
/*ABOUT*/
#tungkol{
	background-image: url(../images/bg1.jpg);
	box-shadow: 5px 5px 10px black;
}

/*FOLLOW*/
.follow{
	
	height: 40px;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	opacity: 0.8;
	border-bottom: 1px solid brown;
	box-shadow: 5px 5px 10px black;
}
.icon{
	height: 100px;
	width: 100px;
	margin: 10px;
}
.social{
	text-align: center;
	color: white;
}


/*Disclaimer Footer*/
.contact{
	background-color: #55251D;
	color: white;
	height: 130px;
	opacity: 0.7;
}
.bor{
	border-right: 2px solid white;
}
.contact h3{
	font-size: 15px;
	margin-top: 10px;
}
.contact p{
	font-size: 10px;
	margin: 0;
	margin-left: 30px;
	font-family: sans-serif;
}
#no-line a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}
.soc-med-icon{
	list-style: none;
}
.soc-med-icon img{
	height: 20px;
	width: 20px;
	float: left;
}
.fb1 img{
	margin-left: 40px;
	margin-right: 10px;
}
hr{
	background-color: white;
}
.col-4 h3{
	border-bottom: 1px solid white;
}

/*Footer*/
footer{
	background-color: grey;
	text-align: center;
	color: white;
	height: 30px;
	line-height: 30px;
	border-top: 2px solid brown;
	font-family: sans-serif;
	box-shadow: 5px 5px 10px black;
}

/*Content*/
.content{
	overflow-y: scroll;
	margin-top: 10px;
	padding: 1rem;
	background-image: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	height: 700px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 10px black;
}
.none{
	display: none;
}
.form-control{
	text-shadow:none;
}
#cont-pic{
	height: 150px;
	width: 200px;
	border-radius: 10%;
	box-shadow: 5px 5px 10px black;
}
#cont-pic:hover{
	transform: scale(1.1);
}
#cont-text:hover{
	color: maroon;
}
/*nanay lines*/
#line{
	margin-bottom: 5%;
	border-radius: 10%;
	border: 5px double maroon; 
	box-shadow: 5px 5px 10px black;
}
#line:hover{
	transform: scale(1.08);

}
#gall-pic{
	height: 300px;
}
.carousel{
	box-shadow: 5px 5px 10px black;

	border-radius: 10px;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: maroon; 
    opacity: 0.7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#side-nav{
	position: fixed;
	margin-left: 59%;
	z-index: 2;
	/*top: 30%;
	position: sticky;*/
}
#side-nav a{
	color: white;
}
#side-nav a:hover{
	color: maroon;
}



/*Mobile Styles (width < 400px)*/
@media only screen and (max-width: 420px) {
	.icon{
	height: 50px;
	width: 50px;
	margin: 10px; 
	}
	.social{
		font-size: 10px;
	}

	footer{
		font-size: 10px;
	}
	.form-control{
		height: 40px;
		width: 60%;
	}
	.btn{
		height: 40px;
		width: 35%;
		background-color: maroon;
		border-color: white;
		color: white;
		margin-left: 10px;
	}
	.showcase{
		height: 300px;
	}
	.carousel-item img{
		max-height: 300px;
	}
	.contact h3{
	font-size: 10px;
	margin-top: 10px;
	}
	.contact p{
	font-size: 5px;
	margin: 0;
	margin-left: 10px;
	}
	.soc-med-icon img{
	height: 10px;
	width: 10px;
	float: left;
	margin-top: 10px;
	}
	.fb1 img{
	margin-left: 20px;
	}
	.col-12{
		margin-top: 10px;
	}
	.container-fluid{
		width: auto;
	}
	#side-nav{
	position: fixed;
	margin-left: 76%;
	z-index: 1;
	}

	
}


/*Tablet Styles (401 < width < 960)*/
@media only screen and (min-width: 421px) and (max-width: 960px){
	.contact{
		height: 150px;
	}
	.container-fluid{
		width: auto;
	}
	#cont-text{
		margin-left: 28%;
	}
	#side-nav{
	position: fixed;
	margin-left: 57%;
	}
}


/*Desktop Styles (width > 961)*/
@media only screen and (min-width: 961px){
	#cont-text{
		margin-left: 10%;
	}
}